#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#control-panel {
	position: fixed;
	z-index: 9;
	top: 0;
  	bottom: 0;
	right: 0;
  	overflow-x: hidden;
  	overflow-y: auto;
  	height: 100%;
  	width: 330px;
  	background: rgba(245, 248, 250, 0.85);
	:focus {outline:0 !important;}
}

.hrule {
	width: 90%;
    margin: 0 auto 0 auto;
}

.controls {
	font-family: Arial, Helvetica, sans-serif;
}

.appicon {
	margin-left: 12px;
	margin-top: 8px;
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

.appheader {
	width:fit-content;
	margin: auto;
}

.apptitle {
	margin-top: 10px;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	
}

.mapselect {
	margin: 10px 0 20px 20px;
	font-size: small;
	text-align: left;
}

.nodeScaleLabel {
	background-repeat: no-repeat; 
	background-image: url("nodescale.png");
	height: 24px;
	width: 32px;
	display: inline-block;
	margin-right: 12px;
	margin-left: 0px;
	vertical-align: middle;

}

.standardArcOpacityLabel {
	background-repeat: no-repeat; 
	background-image: url("stdarcopacity.png");
	height: 24px;
	width: 32px;
	display: inline-block;
	margin-right: 12px;
	margin-left: 0px;
	vertical-align: middle;

}

.ruggedArcOpacityLabel {
	background-repeat: no-repeat; 
	background-image: url("ruggedarcopacity.png");
	height: 24px;
	width: 32px;
	display: inline-block;
	margin-right: 12px;
	margin-left: 0px;
	vertical-align: middle;

}

.arcWidthLabel {
	background-repeat: no-repeat; 
	background-image: url("arcwidth.png");
	height: 24px;
	width: 32px;
	display: inline-block;
	margin-right: 12px;
	margin-left: 0px;
	vertical-align: middle;

}

.arcFilterLabel {
	background-repeat: no-repeat; 
	background-image: url("arcfilter.png");
	height: 24px;
	width: 32px;
	display: inline-block;
	margin-right: 12px;
	margin-left: 0px;
	vertical-align: middle;

}

.sliderAndLabel {
	margin-bottom: 6px;
}

.slider-control {
	width:220px;
	display: inline-block;
	vertical-align: middle;
  }

.sliders {
	width: fit-content;
	margin: 24px auto;
}

.pickinfo {
	margin-left: 16px;
	margin-top: 10px;
}

.pickinfo p {
	margin-bottom: 5px;
}

.proplabel {
	color: grey;
	margin-right: 5px;
	margin-left: 12px;
	
}
  
.entityprops {
	margin-bottom: 4px;
}

.pickdot {
	display: inline-block;
	background: rgb(133, 136, 160);
	border-radius: 50%;
	margin: 10px;
	height: 12px;
	width: 12px;
	vertical-align: middle;
}

.eprops {
	display: inline-block;
	width:fit-content;
	text-decoration: none;
	color: rgb(82, 79, 79);
}

.proplist {
	margin-left: 8px;
}

.latlong {
	font-size: 9pt;
}

.dropdown {
	margin-bottom: 6px;
}